.tipcard {
    background-color: $dark-grayish-cyan-2;
    padding: 10px;
    border-radius: $border-radius-primary;
    color: $white;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30%;
    
    &:hover {
        opacity: 0.8;
    }
    &-selected {
        background-color: $primary-color;
    }
}
